<div class="background-image-div"> </div>
<div class="split-1">
	<h5>Your file should look like this:</h5>
	<div id="example-upload-img"> </div>

	<h5>
	  File upload:
	</h5>

	<%= form_tag 'home/upload', id: "upload", :multipart => true do %>
	   <label for="file">Upload CSV File</label> <%= file_field_tag "file" %>
	   <%= submit_tag "Upload File", id: "save" %>
	<% end %>
</div>